.corrige{ background-color: #ce1e1e;}
.branco{ background-color: #e9dede;}
.confirma{ background-color: #41ce1e;}
.bold{ font-weight: 800;}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    outline: 1px solid #000;
}

body{
    width: 100vw;

    display: flex;
    justify-content: center;

    .candidatos{
        height: 90vh;
        padding: 1rem;
        margin-top: 20px;
    }
}

.urna{
    height: 90vh;
    width: 40vw;
    padding-top: 1rem;
    background-color: #f7f4f0;
    margin-top: 20px;

    .tela{
        margin: 10px;
        padding: 10px;
        margin-bottom: 20px;
        background-color: #fff;
        height: 60%;
    }

    .teclado{
        display: flex;

        .comandos{
            display: grid;
            gap: 1rem;

            padding: 1rem;

            .btn{
                padding: .7rem;
            }
        }

        .numerico{
            width: 100%;
            padding: 10px 0px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;

            .btn{
                width: 25%;
            }
        }
    }
}

/*////////////////////////////////////INDEX//////////////////////////////*/

.coletar_cpf{
    form{
        display: grid;

        label{
            background-color: #ce1e1e;
        }
    }
}

